.login {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
    padding: 20px;
    border-radius: 10px;
  }
  
  .loginTitle {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .loginForm > label {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .loginInput {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .loginInput:focus {
    outline: none;
    border: 2px solid lightcoral;
  }
  
  .loginButton {
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline */
    display: inline-block;
  }
  
  .loginButton:hover {
    background-color: lightcoral;
  }
  
  .loginRegisterButton {
    background-color: lightcoral;
    cursor: pointer;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .loginRegisterButton:hover {
    background-color: #d32f2f;
  }
  
  .loginRegisterText {
    font-size: 16px;
  }
  
  .loginRegisterLink {
    color: #1565c0;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .loginRegisterLink:hover {
    color: #0d47a1;
  }
  
  /* Add any additional styles as needed */
  